.header {
    display: flex;
    background-color: rgb(36, 35, 35);
    padding: 0 10%;
}

.header-item1 {
    background-color: rgb(50, 172, 121);
    align-self: self-start;
}

.header-item2 {
    background-color: rgb(50, 172, 121);
    align-self: self-end;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav-item {
    list-style: none;
    margin: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(246, 248, 234);
}

.nav-link {
    text-decoration: none;
}

.logo {
    justify-self: flex-start;
}